<nav class="navbar navbar-dark bg-dark">
  <a class="navbar-brand" href="#">
    <img src="assets/Images/github-icon.png" width="50" height="50" alt="git_logo">
  </a>
  <button type="button" class="btn btn-primary"><a [routerLink]="['/searchView']">Search Users</a></button>
</nav>
<div class="container">
  <div class="row">
    <img src="assets/Images/GIT_LOGO.png" alt="My Image" class="img-fluid" >
    <div class="col-12 text-center">
      <button class="button" (click)="signInWithGithub()" style="vertical-align:middle"><span>LOGIN</span></button>
    </div>
  </div>
</div>  


